<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody><tr>
    <td style="padding-top:20px" class="m_1623530055828948975m_7716617004042174243whiteMobile" width="100%" valign="top" bgcolor="#ebebeb">

      <table class="m_1623530055828948975m_7716617004042174243deviceWidth" width="570" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody><tr>
          <td style="padding:0" class="m_1623530055828948975m_7716617004042174243whiteMobile" valign="top" bgcolor="#ebebeb">
            <a href="#m_1623530055828948975_m_7716617004042174243_">
              <img class="m_1623530055828948975m_7716617004042174243deviceWidth CToWUd" src="https://docs.google.com/uc?export=download&id=0ByfHHxs88eyGY18zVXhLaEcwOWs" alt="" style="display:table;border-radius:10px;padding-bottom:10px; margin-left:auto; margin-right:auto; margin-top:30px; margin-bottom:30px;" width="300" border="0" height="auto"></a>
          </td>
        </tr>
        <tr>
          <td style="border-radius:10px;line-height:24px;vertical-align:top;padding:20px 20px 32px 32px;word-break:break-all" bgcolor="#FFFFFF">
            <p style="font-family:Trebuchet MS,Arial,sans-serif;font-weight:900;font-size:24px;text-transform:capitalize;color:#323232;word-break:normal">Enquiry from: [YourName]</p>
            <p style="font-family:Trebuchet MS,Arial,sans-serif;font-weight:400;font-size:12px;color:#323232;word-break:normal">Type: Contact</p>
            <p style="font-family:Trebuchet MS,Arial,sans-serif;font-weight:400;font-size:12px;color:#323232;word-break:normal">E-Mail address: [emailaddress]</p>
            <p style="font-family:Trebuchet MS,Arial,sans-serif;font-weight:400;font-size:12px;color:#323232;word-break:normal">Phone: [PhoneNumber]</p>
            <p style="font-family:Trebuchet MS,Arial,sans-serif;font-weight:400;font-size:12px;color:#323232;word-break:normal">Organisation: [Organisation]</p>
            <p style="font-family:Trebuchet MS,Arial,sans-serif;font-weight:400;font-size:12px;color:#323232;word-break:normal">Job Title: [JobTitle]</p>

            <p style="font-family:Trebuchet MS,Arial,sans-serif;font-weight:400;font-size:12px;color:#323232;word-break:normal">[yourmessage]</p>
            </td>
          </tr>
        </tbody></table>

        <div style="height:25px">&nbsp;</div>

      </td>
    </tr>
  </tbody></table>