body{font-family: 'Roboto', sans-serif;}
h1, h2, h3, h4, h5, h6{font-family: 'Roboto', sans-serif;}
p{font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 26px;}
label{font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 13px;}
table, td, tr, th{font-family: 'Roboto', sans-serif;}
.table > tbody > tr > td {border-top: 0 none; vertical-align: middle; }
:focus {outline: 0;}
a, a:hover, .btn, .btn:hover{transition: all 0.2s ease 0s;}
.alink{color: #d9a432 !important;}
.navbar.navbar-default {background: #fff; border-radius: 0; margin-bottom: 0;}
.navbar-brand {float: left; font-size: 18px; height: auto; line-height: 20px; padding:0  15px;}
ul.nav.navbar-nav {margin-top: 17px;}
form.navbar-form {margin-top: 40px;}
.navbar.navbar-default .form-group .form-control {border-radius: 25px; box-shadow: none; height: 36px;}
.navbar-nav > li > a {font-size: 16px;}
ul.nav.navbar-nav li a.heart {background: url("../images/heart.png") no-repeat scroll center center / contain ; color: #fff; font-size: 10px; height: 30px; margin: 12px 25px 12px 10px; padding: 4px 0; text-align: center; width: 30px;}
ul.nav.navbar-nav li a.prbtn{background: #d9a432;border-radius: 3px; color: #fff; padding: 8px 15px; text-align: center;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {background-color: #d9a432; color: #FFF;}
.copyright {color: #838383; font-size: 14px;}


.loginContainer {
  width: 450px;
  margin: 0 auto;
  max-width: calc(100% - 30px);
}


/* Select2 */
.select2-container .select2-selection--single{height: 40px;}
.select2-container--default .select2-selection--single {background-color: #fff; border: 1px solid #b7b7b7; border-radius: 3px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {color: #767676;/* line-height: 39px;*/}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 8px;}
.select2-container--default .select2-selection--multiple {background-color: white; border: 1px solid #b7b7b7; border-radius: 3px; cursor: text;}
.select2-container--default.select2-container--focus .select2-selection--multiple{border: 1px solid #b7b7b7;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {box-sizing: border-box; list-style: outside none none; margin: 0; min-height: 33px; padding: 0 5px; width: 100%;}
.select2-container--default .select2-selection--multiple .select2-selection__choice {background-color: #d9a432; border: 1px solid #c99422; border-radius: 4px; color: #fff; cursor: default; float: left; margin-right: 5px; margin-top: 9px; padding: 0 5px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {color: #fff;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color: #d9a432; color: white;}



/* List View */
.ListView{background: url(../images/home_bg.jpg) no-repeat center top #e2e2e2; background-size: cover; padding-top: 20px; padding-bottom: 40px;
	height: 100vh;}
.ListView.lightgrey{background: #f8f8f8 !important;}
.ListView .panel{border: 0 none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); overflow: hidden;}
.ListView .panel .gimage{max-height: 160px;min-height: 160px; overflow: hidden;}
.ListView .panel .gimage .likebtn {background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; border-radius: 25px; padding: 4px 7px 3px 7px; position: absolute; right: 8px; text-align: center; top: 7px;}
.ListView .panel .gimage .likebtn .fa-heart-o{color: #fff;  line-height: 20px;}
.ListView .panel .gimage .likebtn .fa-heart{display: none;}
.ListView .panel .gimage .likebtn.active .fa-heart-o{display: none;}
.ListView .panel .gimage .likebtn.active .fa-heart{display: block; line-height: 20px; color: red;}
.ListView .panel h4 {display: inline-block; text-align: center; width: 100%;}
.ListView .panel h5{font-weight: 300;}
.ListView .ratingstars .fa{color: #f98b2c;}

/* List View */
.ListViewv2{background: url(../images/home_bg.jpg) no-repeat center top #f8f8f8; background-size: cover; padding-top: 60px; padding-bottom: 40px;
	height: 100vh;}
.ListViewv2.lightgrey{background: #f8f8f8 !important;}
.ListViewv2 .panel{border: 0 none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); overflow: hidden;}
.ListViewv2 .panel h4 {display: block; text-align: left; width: 100%;}
.ListViewv2 .panel h5{font-weight: 300;}
.ListViewv2 .ratingstars .fa{color: #f98b2c;}

/* Booking Steps */
.MiddleAvatar .middleimg{border-radius: 50px; height: 84px; width: 84px;}
.MiddleAvatar .media-left{padding: 0;}
.MiddleAvatar .media-left {display: table; margin: 10px auto;}
.radio label, .checkbox label {cursor: pointer; font-weight: normal; margin-bottom: 0; min-height: 20px; padding-left: 0;}
.iradio_square {margin-right: 10px; vertical-align: bottom;}

.defaultpad{padding-top: 60px; padding-bottom: 40px; background: #f8f8f8;}
.input-group-btn .btn-primary {background: #888888; border-color: #888888; padding: 9px; border-radius: 0px !important;}
.input-group-btn .btn-primary:hover{background: #888888; border-color: #888888; padding: 9px; border-radius: 0px !important;}
.input-group-btn .btn-default {background: #f8f8f8; border-color: #ccc; padding: 9px; border-radius: 0px !important;}
.input-group-btn .btn-default:hover{background: #f8f8f8; border-color: #ccc; padding: 9px; border-radius: 0px !important;}

/* Profile Page */
.UserRating.ratingstars .fa{color: #f98b2c; font-size: 20px;}
a.Morelink, a.Morelink:hover, a.Morelink:active, a.Morelink:focus:hover{color: #ffa008;}
.artistag{color: #ffa008;}
.ArtistTabs ul.nav.nav-tabs {text-align: center;  border-bottom: 0 none;}
.ArtistTabs .nav-tabs > li {display: inline-table; float: none;}

.ArtistTabs .nav-tabs > li > a,
.ArtistTabs .nav-tabs > li > a:hover,
.ArtistTabs .nav-tabs > li > a:focus,
.ArtistTabs .nav-tabs > li > a:focus:hover{border-left: 0; border-top: 0; border-right: 0; border-bottom: 2px solid transparent; background-color: transparent; color: #737373;}

.ArtistTabs .nav-tabs > li.active > a{color: #d8a434; border-left: 0; border-top: 0; border-right: 0; border-bottom: 2px solid #d8a434; background-color: transparent;}
.ArtistTabs .nav-tabs > li:hover > a{border-left: 0; border-top: 0; border-right: 0; border-bottom: 2px solid #d8a434; background-color: transparent;}
.ArtistTabs .nav-tabs > li.active:hover > a{border-left: 0; border-top: 0; border-right: 0; border-bottom: 2px solid #d8a434; background-color: transparent;}
.tab-content {overflow: hidden;}

.NameCircle{border-radius: 50px; color: #fff; display: block; font-size: 2em; height: 62px; line-height: 58px; text-align: center; width: 62px;}
.NameCircle.orange{background: #ffbe26;}
.NameCircle.lightblue{background: #00bcd5;}
.NameCircle.darkblue{background: #4e89c8;}

/* Login */
/*.loginbox{height: calc(100vh - 70px);}*/
.loginContainer{background: #fff; border: 1px solid #e4e4e4; border-radius: 5px; min-height: 300px;}
.loginbox .well{background: none; border: 0; box-shadow: none;}
.loginbox .form-control{height: 45px;}


/*.signupbox{height:  calc(100vh - 70px);}*/
.loginContainer{background: #fff; border: 1px solid #e4e4e4; border-radius: 5px; min-height: 300px;}
.signupbox .well{background: none; border: 0; box-shadow: none;}
.signupbox .form-control{height: 45px;}






.form-control {border-radius: 3px; box-shadow: none; height: 40px;}
.btn{border-radius: 3px !important;}
.btn-default{background: #ededed; border-color: #e0e0e0; color: #656565; border-radius: 3px;}
.btn-default:hover{background: #e4e4e4; border-color: #e0e0e0; color: #656565; border-radius: 3px;}
.btn-default:active, .btn-default:focus, .btn-default:focus:active{background: #e4e4e4; border-color: #e0e0e0; color: #656565; border-radius: 3px;}

.btn-primary {background: #d9a432; border-color: #d9a432; border-radius: 3px; padding: 10px 60px;}
.btn-primary:hover{background: #bd8b1d; border-color: #bd8b1d; border-radius: 3px; padding: 10px 60px;}
.btn-primary:active, .btn-primary:focus, .btn-primary:focus:active{background: #bd8b1d; border-color: #bd8b1d; border-radius: 3px; padding: 10px 60px;}

.btn-primary.smallbtn{padding: 10px 30px; border-radius: 35px !important; float: right;}

.btn-facebook {background: #3b5998; border-color: #3b5998; border-radius: 3px; padding: 10px 60px; color: #FFF;}
.btn-facebook:hover{background: #304d8b; border-color: #304d8b; border-radius: 3px; padding: 10px 60px; color: #FFF;}
.btn-facebook:active, .btn-facebook:focus, .btn-facebook:focus:active{background: #3b5998; border-color: #3b5998; border-radius: 3px; padding: 10px 60px; color: #FFF;}

.btn-gmail {background: #df4a32; border-color: #df4a32; border-radius: 3px; padding: 10px 60px; color: #FFF;}
.btn-gmail:hover{background: #d03b23; border-color: #d03b23; border-radius: 3px; padding: 10px 60px; color: #FFF;}
.btn-gmail:active, .btn-gmail:focus, .btn-gmail:focus:active{background: #df4a32; border-color: #df4a32; border-radius: 3px; padding: 10px 60px; color: #FFF;}

.btn-white {background: #FFFFFF; border-color: #ababab; border-radius: 3px; padding: 10px 60px; color: dimgray;}
.btn-white:hover{background: #eaeaea; border-color: #ababab; border-radius: 3px; padding: 10px 60px; color: dimgray;}
.btn-white:active, .btn-white:focus, .btn-white:focus:active{background: #eaeaea; border-color: #ababab; border-radius: 3px; padding: 10px 60px;  color: dimgray;}

.btn-green{background: #539c16; border-color: #539c16; border-radius: 3px;}
.btn-green:hover{background: #4a8d11; border-color: #4a8d11; border-radius: 3px;}
.btn-green:active, .btn-green:focus, .btn-green:focus:active{background: #4a8d11; border-color: #4a8d11; border-radius: 3px;}

.btn-message {background: #d9a432; border-color: #d9a432; border-radius: 3px; padding: 10px 30px; color: #FFF;}
.btn-message:hover{background: #cd9825; border-color: #d9a432; border-radius: 3px; padding: 10px 30px; color: #FFF;}
.btn-message:active, .btn-message:focus, .btn-message:focus:active{background: #cd9825; border-color: #d9a432; border-radius: 3px; padding: 10px 30px; color: #FFF;}
.btn-message:hover, .btn-message:focus, .btn-message.focus{background: #d9a432; color: #FFF;}

/* Footer */
.footer {background-color: #ffffff; border-top: 1px solid #d3d3d3; bottom: 0; height: 85px; padding-bottom: 20px; padding-top: 20px; position: fixed; width: 100%;}
.footer .SocialLinks{text-align: right;}
.footer .SocialLinks .fa{color: #636363; margin-left: 8px; margin-right: 8px;}


/* Sidebar */
.SideBar .btn{background: transparent; border:0; box-shadow: none !important;}
.SideBar .btn.active{background: #dddddd; border:0;}
.SideBar .btn:hover{background: #c7c7c7; border:0;}
.cbadge{background: #d8a434; border-radius: 3px; padding: 5px 10px;}

.ListViewv3 .panel{border: 0 none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); overflow: hidden;}
.ListViewv3 .panel h4 {display: block; text-align: center; width: 100%;}
.ListViewv3 .panel h5{font-weight: 300;}
.ListViewv3 .ratingstars .fa{color: #f98b2c;}





.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
	overflow: hidden;
}
.messages > p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 0.2rem;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}


/* Helper CSS */
.headingwhite{color: #FFF;}
.btn{border-radius: 0;}
/*.container-fluid { overflow:hidden;}*/
.fullhr{height: 1px; border-top: 1px solid #e0e0e0; background: none; display: block; width: 100%; float: left;}
.largebtn{font-size: 20px; padding: 10px 35px !important;}
.smallbtn{font-size: 16px; padding: 5px 20px !important;}
.text-wraper{padding: 10px; color: #333333; font-size: 14px;}
.caps{text-transform: uppercase;}
.bold600{font-weight: 600;}
.nptb{padding-top: 0 !important; padding-bottom: 0 !important;}
.nplr{padding-left: 0 !important; padding-right: 0 !important;}
.npl{padding-left: 0 !important;}
.npt{padding-top: 0 !important;}
.npb{padding-bottom: 0 !important;}
.bold{font-weight: 600 !important;}
.bold400{font-weight: 400 !important;}
.nmb{margin-bottom: 0 !important;}
.nmt{margin-top: 0 !important;}
.nmtb{margin-top: 0 !important; margin-bottom: 0 !important;}
.nmlr{margin-left: 0 !important; margin-right: 0 !important;}
.ml20{margin-left: 20px !important;}
.mt10{margin-top:10px !important;}
.mb10{margin-bottom:10px !important;}
.mt20{margin-top:20px !important;}
.mb20{margin-bottom:20px !important;}
.mb10{margin-bottom:10px !important;}
.pl10{padding-left: 10px !important;}
.pl20{padding-left: 20px !important;}
.pr20{padding-right: 20px !important;}
.pt20{padding-top: 20px !important;}
.pb20{padding-bottom: 20px !important;}
.mt40{margin-top:40px !important;}
.aligncenter{margin: 10px auto;}
.sup{vertical-align: super;font-size:10px;}
.noborder{border:none !important;}
.nopadding{padding: 0;}
.nobg{background: none;}
.nbt{border-top: 0px !important;}
.clear { clear: both; height: 60px;}
.no-gutter{padding-right: 0 !important; padding-left: 0 !important;}
.onlymobile{display: none;}
.btncenter{margin: 10px auto; display: table;}
.dtableinline{display: inline-table;}
.Aligner {display: flex !important; align-items: center !important;justify-content: center !important;}
.Aligner-item {max-width: 50% !important;}
.Aligner-item--top {align-self: flex-start !important;}
.Aligner-item--bottom {align-self: flex-end !important;}
.modal-body{overflow: hidden;}

.fullwidth{width: 100% !important;}
.text-justify{text-align: justify;}
.word-minus{word-spacing: -1px;}
.l-h {line-height: 1.42857143;}
.l-h-0x {line-height: 0;}
.l-h-1x {line-height: 1.2;}
.l-h-2x {line-height: 2em;}
.l-s-1x {letter-spacing: 1;}
.l-s-2x {letter-spacing: 2;}
.l-s-3x {letter-spacing: 3;}
.font-normal {font-weight: normal;}
.font-thin {font-weight: 300;}
.font-bold {font-weight: 700;}
.text-3x {font-size: 3em;}
.text-2x {font-size: 2em;}
.text-lg {font-size: 20px !important;}
.text-md {font-size: 16px !important;}
.text-base {font-size: 14px;}
.text-sm {font-size: 13px;}
.text-xs {font-size: 12px;}
.text-italic{font-style: italic;}
.text-xxs {text-indent: -9999px;}
.text-ellipsis {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.text-u-c {text-transform: uppercase;}
.text-l-t {text-decoration: line-through;}
.text-u-l {text-decoration: underline;}
.text-active, .active > .text, .active > .auto .text {display: none !important;}
.active > .text-active, .active > .auto .text-active {display: inline-block !important;}
.box-shadow {box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);}
.box-shadow-lg {box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);}
.text-shadow {font-size: 170px; text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);}
.noshadow {-webkit-box-shadow: none !important;  box-shadow: none !important;}
.wrapper-xs {padding: 5px !important;}
.wrapper-sm {padding: 10px !important;}
.wrapper {padding: 15px !important;}
.wrapper-md {padding: 20px !important;}
.wrapper-lg {padding: 30px !important;}
.wrapper-xl {padding: 50px !important;}
.padder-lg {padding-right: 30px; padding-left: 30px;}
.padder-md {padding-right: 20px; padding-left: 20px;}
.padder {padding-right: 15px; padding-left: 15px;}
.padder-v {padding-top: 15px; padding-bottom: 15px;}
.no-padder {padding: 0 !important;}
.pull-in {margin-right: -15px; margin-left: -15px;}
.pull-out {margin: -10px -15px;}
.r-2{border-radius: 2px !important;}
.b {border: 1px solid #c5c5c5;}
.b-a {border: 1px solid #dee5e7;}
.b-t {border-top: 1px solid #dee5e7;}
.b-r {border-right: 1px solid #dee5e7;}
.b-b {border-bottom: 1px solid #dee5e7;}
.b-l {border-left: 1px solid #dee5e7;}
.b-light {border-color: #edf1f2;}
.b-dark {border-color: #3a3f51;}
.b-black {border-color: #3a3f51;}
.b-primary {border-color: #2581ce;}
.b-success {border-color: #27c24c;}
.b-info {border-color: #23b7e5;}
.b-warning {border-color: #fad733;}
.b-danger {border-color: #f05050;}
.b-white {border-color: #ffffff;}
.b-dashed {border-style: dashed !important;}
.b-l-light {border-left-color: #edf1f2;}
.b-l-dark {border-left-color: #3a3f51;}
.b-l-black {border-left-color: #3a3f51;}
.b-l-primary {border-left-color: #2581ce;}
.b-l-success {border-left-color: #27c24c;}
.b-l-info { border-left-color: #23b7e5;}
.b-l-warning {border-left-color: #fad733;}
.b-l-danger {border-left-color: #f05050;}
.b-l-white {border-left-color: #ffffff;}
.b-l-2x {border-left-width: 2px;}
.b-l-3x {border-left-width: 3px;}
.b-l-4x {border-left-width: 4px;}
.b-l-5x {border-left-width: 5px;}
.b-2x {border-width: 2px;}
.b-3x {border-width: 3px;}
.b-4x {border-width: 4px;}
.b-5x {border-width: 5px;}
.r {border-radius: 2px 2px 2px 2px;}
.r3 {border-radius: 3px 3px 3px 3px;}
.r-2x {border-radius: 4px;}
.r-3x {border-radius: 6px;}
.r-l {border-radius: 2px 0 0 2px;}
.r-r {border-radius: 0 2px 2px 0;}
.r-t {border-radius: 2px 2px 0 0;}
.r-b {border-radius: 0 0 2px 2px;}
.m-xxs {margin: 2px 4px;}
.m-xs {margin: 5px;}
.m-sm { margin: 10px;}
.m {margin: 15px;}
.m-md {margin: 20px;}
.m-lg {margin: 30px;}
.m-xl {margin: 50px;}
.m-n {margin: 0 !important;}
.m-l-none {margin-left: 0 !important;}
.m-l-xs {margin-left: 5px !important;}
.m-l-sm {margin-left: 10px !important;}
.m-l {margin-left: 15px !important;}
.m-l-md {margin-left: 20px !important;}
.m-l-lg {margin-left: 30px !important;}
.m-l-xl {margin-left: 40px !important;}
.m-l-xxl {margin-left: 50px !important;}
.m-l-n-xxs {margin-left: -1px;}
.m-l-n-xs {margin-left: -5px;}
.m-l-n-sm {margin-left: -10px;}
.m-l-n {margin-left: -15px;}
.m-l-n-md {margin-left: -20px;}
.m-l-n-lg {margin-left: -30px;}
.m-l-n-xl {margin-left: -40px;}
.m-l-n-xxl {margin-left: -50px;}
.m-t-none { margin-top: 0 !important;}
.m-t-xxs {margin-top: 1px !important;}
.m-t-xs {margin-top: 5px !important;}
.m-t-sm {margin-top: 10px !important;}
.m-t {margin-top: 15px !important; }
.m-t-md {margin-top: 20px !important;}
.m-t-lg {margin-top: 30px !important;}
.m-t-xl {margin-top: 40px !important;}
.m-t-xxl {margin-top: 50px !important;}
.m-t-n-xxs {margin-top: -1px;}
.m-t-n-xs {margin-top: -5px;}
.m-t-n-sm {margin-top: -10px;}
.m-t-n {margin-top: -15px;}
.m-t-n-md {margin-top: -20px;}
.m-t-n-lg {margin-top: -30px;}
.m-t-n-xl {margin-top: -40px;}
.m-t-n-xxl {margin-top: -50px;}
.m-r-none {margin-right: 0 !important;}
.m-r-xxs {margin-right: 1px;}
.m-r-xs {margin-right: 5px;}
.m-r-sm {margin-right: 10px;}
.m-r {margin-right: 15px;}
.m-r-md {margin-right: 20px;}
.m-r-lg {margin-right: 30px;}
.m-r-xl {margin-right: 40px;}
.m-r-xxl {margin-right: 50px;}
.m-r-n-xxs {margin-right: -1px;}
.m-r-n-xs {margin-right: -5px;}
.m-r-n-sm {margin-right: -10px;}
.m-r-n {margin-right: -15px;}
.m-r-n-md {margin-right: -20px;}
.m-r-n-lg {margin-right: -30px;}
.m-r-n-xl {margin-right: -40px;}
.m-r-n-xxl {margin-right: -50px;}
.m-b-none {margin-bottom: 0 !important;}
.m-b-xxs {margin-bottom: 1px !important;}
.m-b-xs {margin-bottom: 5px !important;}
.m-b-sm {margin-bottom: 10px !important;}
.m-b {margin-bottom: 15px !important;}
.m-b-md {margin-bottom: 20px !important;}
.m-b-lg {margin-bottom: 30px !important;}
.m-b-xl {margin-bottom: 40px !important;}
.m-b-xxl {margin-bottom: 50px !important;}
.m-b-n-xxs {margin-bottom: -1px;}
.m-b-n-xs {margin-bottom: -5px;}
.m-b-n-sm {margin-bottom: -10px;}
.m-b-n {margin-bottom: -15px;}
.m-b-n-md {margin-bottom: -20px;}
.m-b-n-lg {margin-bottom: -30px;}
.m-b-n-xl {margin-bottom: -40px;}
.m-b-n-xxl {margin-bottom: -50px;}
.v-middle {vertical-align: middle !important;}
.v-top {vertical-align: top !important;}
.v-bottom {vertical-align: bottom !important;}
/*.vertical-align {display: flex; align-items: center;}*/
.vertical-align.topalign{display: flex; align-items: flex-start;}
.form_loader{margin-top: 13px;display: none;}.block_imp{ display: inline !important;}
.padder-v-lg {padding-bottom: 40px; padding-top: 40px;}
.text-left{text-align: left !important;}
.resetheight{min-height: inherit !important;}

ul.progresssteps{margin: 0; text-align: center; padding: 0;}
ul.progresssteps li {
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	border-radius: 1em;
	background: #d9a432;
	margin: 0 1em;
	display: inline-block;
	color: white;
	position: relative;
}

ul.progresssteps li::before{
	content: '';
	position: absolute;
	top: .9em;
	left: -4em;
	width: 4em;
	height: .2em;
	background: #9c9c9c;
	z-index: -1;
}

ul.progresssteps li:first-child::before {display: none;}
ul.progresssteps .active {background: #d9a432;}
ul.progresssteps .active ~ li {background: #9c9c9c;}
ul.progresssteps .active ~ li::before {background: #9c9c9c;}

.ArtistTags{text-align: center;}
.ArtistTags .badge {background: #ebebeb; border-radius: 5px; color: #333; font-size: 14px; font-weight: 400; padding: 8px 20px; margin-left: 5px; margin-right: 5px;}
/*
@media (max-width:1366px){.loginbox{height: 76vh;}}
@media (max-width:1280px){.loginbox{height: 84vh;}}
@media (max-width:1200px){.loginbox{height: 100vh;}}
*/

@media (max-width: 1199px) {
	.navbar-brand { float: left; font-size: 18px; line-height: 20px; padding: 9px 15px;}
	.navbar-toggle {display: block; margin: 20px 10px;}
	ul.nav.navbar-nav { text-align: center;}
	ul.nav.navbar-nav li {display: inline-table;}
	nav .vertical-align{display: block !important;}
	.navbar-header {float: none;}
	form.navbar-form {margin-bottom: 20px; margin-top: 10px; text-align: center; border: 0 !important;}
	.navbar-left,.navbar-right {float: none !important;}
	.navbar-toggle {display: block;}
	.navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
	.navbar-fixed-top {top: 0; border-width: 0 0 1px;}
	.navbar-collapse.collapse {display: none!important;}
	.navbar-nav {float: none!important; margin-top: 7.5px;}
	.navbar-nav>li {float: none; }
	.navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}
	.collapse.in{display:block !important; }
	.ListView{height: 100%;}
	.vertical-align.resetrow{display: block;}
	.vertical-align.resetrow h5, .vertical-align.resetrow p {text-align: center;}
	.btn-primary.smallbtn {border-radius: 35px; display: table; float: none; margin: 10px auto; padding: 10px 30px;}
	.vertical-align.resetrow .media {margin-bottom: 20px;}
}

@media (max-width:1000px){
	/*.vertical-align.v2{display: block !important;}*/
	.vertical-align.v2 .loginContainer{margin-top: 30px;}
	.vertical-align.resetrow h5, .vertical-align.resetrow p {text-align: center !important;}
	.btn-primary.smallbtn {border-radius: 35px; display: table; float: none; margin: 10px auto; padding: 10px 30px;}
}

@media (max-width:767px){
	.footer{height: auto;}
	.footer .btn { display: table; float: none; font-size: 14px !important; margin: 10px auto;}
	.footer .SocialLinks {text-align: center;}
	.vertical-align.resetrow .media-left {display: table; margin: 10px auto;}
	.vertical-align.resetrow .media-body, .vertical-align.resetrow .media-body h4 {text-align: center !important;}
	.vertical-align.resetrow .UserRating {clear: both; display: inline-table; float: none; margin: 0 auto; text-align: center; width: auto;}
}
@media (max-width: 565px) {
	nav .vertical-align{display: block !important;}
	.navbar-default .navbar-nav > li > a{text-align: center;}
	ul.nav.navbar-nav li a.prbtn{width: 160px; margin: 10px auto;}

}

