.artist_gallery > .panel{
    position: relative;
}
.artist_gallery .media-top img{
    width: 100%;
}
.artist_gallery .gallery_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    display: none;
}
.artist_gallery:hover .gallery_overlay{
    display: block;
}
.artist_gallery .gallery_overlay_inner,.artist_gallery .media-center .img-block{
    width: 100%;
    height: 100%;
    display: table;
}
.artist_gallery .gallery_overlay_inner .gallery_delete,.artist_gallery .media-center .img-block .img-block-center{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/*.artist_gallery .gallery_overlay_inner a{
text-align: center;
vertical-align: middle;
}*/
.artist_gallery .media-center{
    height: 130px;
}
.artist_gallery img{
    margin: 0 auto;
    object-fit: cover;
    object-position: center center;
    max-height: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: auto;
    max-width: calc(100% - 12px);
    display: inline-block;
}
.member_list > div{
    min-height: 156px;
}
.navbar.navbar-default
{
    background-color: rgba(255,255,255,0.0);
   /* border-bottom: 1px solid #eee;*/
}
.copyright{
    color: #fff;
}
.text-white{
    color: #fff;
}
.loginContainer{
    min-height: 240px;
}
.legallinks a:hover{
    text-decoration: none;
}
.gallery-box{
    min-height: 230px;
    display: block;
}
.box-centered{
    display: table;
    width: 100%;
    height: 100%;
}
.box-centered .box-center-inner{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.search-listing .panel.panel-default{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.search-listing .panel.panel-default:hover{
    box-shadow: 1px 1px 5px #222;
    /*-moz-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);*/
}
.ListView .panel .gimage{
    position: relative;
}
footer.footer{
    height: 60px;
}
footer.footer ul {
    margin: 13px 0;
}
.artist-block h4 a{
    color: #555;
}
.artist-block h4 a:hover{
    text-decoration: none;

}
.ListView.search-listing{
    background:none;
    border-top: 1px solid #ccc;
}
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pickatime.form-control[disabled], .pickatime.form-control[readonly], fieldset[disabled] .pickatime.form-control,.pickadate.form-control[disabled], .pickadate.form-control[readonly], fieldset[disabled] .pickadate.form-control{
    background-color: #fff;
}
.badge.badge_upper{
    position: absolute;
    z-index: 1;
    top: 6px;
    right: -5px;
    background: #d9a432;
}
/*.table.bookings .media-left img{
width: 1;
}*/
.table.bookings .media-left,.table.bookings .media-right
{
    width: 70px;
}
.select2-container .select2-search--inline .select2-search__field
{
    margin-top: 8px;
}
.select2-selection--single{
    padding: 4px 0;
}
.artist_details h3{
    font-weight: bold;
}
.detail_book,.likebtn.btn-white { padding: 7px 40px; }
.detail_book,.likebtn.btn-white:hover,.detail_book:hover{ padding: 7px 40px; }
.detail_book,.likebtn.btn-white:active,.detail_book:active, .btn-white:focus,.detail_book:focus, .btn-white:focus:active,.detail_book:focus:active{ padding: 7px 40px;}
.ListView.search-listing{
    height: auto;
}
.ellipse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.width-90{
    width: 90%;
}
.text-center.m-b-none.m-t-none.genres{
    min-height: 32px;
}
.select2-search--dropdown::after{
    right: 10px;
    left: auto;
}
#chat_box #btn-1[disabled]{
    cursor: wait;
}
@media(max-width:767px){
    .copyright,.legallinks{
        text-align: center !important;
        margin-left: 0;padding-left: 0;
        margin: 0 !important;
        padding: 0  !important;

    }
    footer,footer.footer{
        position:  inherit;
    }
    
}
@media(max-width:480px){
    
    /*.footer .btn{
        display: inherit;
        float: left;
    }*/
    .detail_book, .likebtn.btn-white,.detail_book:hover, .likebtn.btn-white:hover,.detail_book:focus:active, .likebtn.btn-white:focus:active,.detail_book:active, .likebtn.btn-white:active
    {
        padding: 7px 13px;
    }
    #form-2 .btn-primary,#form-3 .btn-primary{
        padding: 5px 25px;
    }
    .navbar-brand{
        width: 70%;
    }
}