.agreement_lable {
	font-size: 14px;
	font-weight: normal;
}
.loginContainer h3 {
	font-size: 20px;
}
.search-btn{
                border-radius: 5px;
                margin-top: 23px;
                padding: 10px 60px;
            }
/*profile dropdown*/
.inset {
	background-color: transparent !important;
	z-index: 999;
}
.navbar_new .filter_btn {
	display: none;
}
.fc button {
	background: #d9a432;
	color: #fff;
	text-shadow: none;
	border-color: #c39023;
	text-transform: capitalize;
}
.fc-button.fc-state-active {
	border-color: #ab7d19;
}

/*for menu overlay*/
.navbar_new_wrap {
	padding: 10px 0;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.navbar_new {

}
.navbar_new .logo {
	width: auto;
    max-width: 150px;
    float: left;
    height: 47px;
    display: flex;
    align-items: center;
}
.navbar_new .logo img {
	width: 100%;
	height: auto;
}
.navbar_new .my_menu {
	float: right;
}
.button_container {
  position: fixed;
  top: 2.8%;
  /*right: 5%;*/
  right: 30px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
}
.button_container.active .middle {
  opacity: 0;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
}
.button_container.active .top ,
.button_container.active .middle ,
.button_container.active .bottom {
	background: #222;
}
.button_container span {
  background: #d9a432;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.navbar_new .overlay {
  
}
.navbar_new .overlay.open {
  opacity: .93;
  visibility: visible;
  height: 100%;
  z-index: 10;
}
.navbar_new .overlay.open  li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.navbar_new .overlay.open  li:nth-of-type(2) {
  animation-delay: .4s;
}
.navbar_new .overlay.open  li:nth-of-type(3) {
  animation-delay: .45s;
}
.navbar_new .overlay.open  li:nth-of-type(4) {
  animation-delay: .50s;
}
.navbar_new .overlay.open  li:nth-of-type(5) {
  animation-delay: .55s;
}
.navbar_new .overlay.open  li:nth-of-type(6) {
  animation-delay: .60s;
}
.navbar_new .overlay.open  li:nth-of-type(7) {
  animation-delay: .65s;
}
.navbar_new .overlay.open  li:nth-of-type(8) {
  animation-delay: .70s;
}
.navbar_new .overlay nav > ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_new .overlay nav > ul > li {
  display: inline-block;
  position: relative;
  margin: 0 0 0 1rem;
  /*height: 25%;
  height: calc(100% / 4);    
  min-height: 50px;
  opacity: 0;*/
}
.navbar_new_wrap.black_on_desktop .navbar_new .overlay nav > ul > li > a {
	color: #333;
}
.navbar_new .overlay nav > ul > li > a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  padding: 1rem .5rem;
  text-transform: capitalize;
  font-size: 15px;
  text-decoration: none;
  background: transparent;
}
.navbar_new .overlay nav > ul > li > a:hover:after, 
.navbar_new .overlay nav > ul > li > a:focus:after, 
.navbar_new .overlay nav > ul > li > a:active:after {
  width: 100%;
}
.navbar_new .overlay nav > ul > li > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #d9a432;
  transition: .35s;
}

.my_menu nav > ul > li {
	display: inline-block;
}
.button_container {
	display: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}




.table_layout {
  display: table;
  height: 100%;
}
.table_layout_inner {
  display: table-cell;
  vertical-align: middle;
}
.scroll_box_db {
	height: 170px;
	overflow-y: auto;
}
select,
select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/arrow-down.png) no-repeat right center;
}
.nav-btn {
	
}
.main-header.landing-page ul.navbar-nav li a.nav-btn , 
.main-header.landing-page.shrink ul.navbar-nav li a.nav-btn ,
.main-header a.nav-btn , 
.main-header.shrink a.nav-btn {
	background: #d9a432;
	padding: 10px 20px;
	border-radius: 100px;
	color: #fff;
	margin: 5px 0;
	display: inline-block;
}
.main-header.landing-page ul.navbar-nav li a.nav-btn:hover ,
.main-header.landing-page ul.navbar-nav li a.nav-btn:focus , 
.main-header.landing-page.shrink ul.navbar-nav li a.nav-btn:hover ,
.main-header.landing-page.shrink ul.navbar-nav li a.nav-btn:focus ,
.main-header a.nav-btn:hover , 
.main-header a.nav-btn:focus , 
.main-header.shrink a.nav-btn:hover ,
.main-header.shrink a.nav-btn:focus {
	background: #ab7b15;
	text-decoration: none;
}
.loginContainer {
	width: 450px;
	margin: 0 auto;
	max-width: calc(100% - 30px);
}

body {
	color: #555;
	font-family: 'Roboto', sans-serif;
}

.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.flex-align-center {
	align-items: center;
	justify-content: center;
}
input.user_type[type=radio]{
	vertical-align: text-top;
}
textarea.form-control {
	height: 150px!important;
}
.red-color {

}



/*<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	font-family: 'Roboto', sans-serif;
*/

.inset img ,
.inset .profile_img {
	border-radius: inherit;
	width: inherit;
	height: inherit;
	display: block;
	position: relative;
	z-index: 998;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}
.nav > li > a {
	padding: 15px 22px 15px 15px;
}
.badge.badge_upper {
	right: 0;
}
.inset > a {
	display: inline-block;
	padding: 0 10px 0 20px;
}
.inset > a > img {
	float: left;
}
.inset > a .caret {
	margin: 24px 0 24px 6px;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #000;
}
.navbar-nav > li.search {
	margin: 4px 0 0 0;
	
}
/*https://codepen.io/912lab/pen/LsplC*/
.nav > li.search input[type=search] {
	background: #fff url(../images/search.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 40px;
	background-size: 18px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.nav > li.search input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #ddd;
	
	-webkit-box-shadow: 0 0 5px #eee;
	-moz-box-shadow: 0 0 5px #eee;
	box-shadow: 0 0 5px #eee;
}


.nav > li.search input:-moz-placeholder {
	color: #999;
}
.nav > li.search input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#search input[type=search] {
	/*width: 15px;*/
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search input[type=search]:hover {
	background-color: #fff;
}
#search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search input:-moz-placeholder {
	color: transparent;
}
#search input::-webkit-input-placeholder {
	color: transparent;
}
.filter_sidebar {

}
.filter_sidebar .spacer {
	margin: 0 0 20px 0;
}
.spacer {
	margin: 0 0 15px 0;
}
.spacer_medium {
	margin: 0 0 30px 0;
}
.spacer_ffty {
	margin: 0 0 50px 0;
}
.title_bar {
	padding: 12px 15px;
	margin: 0 0 8px 0;
	background-color: #eee;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
	background-color: transparent;
	border-color: transparent;
}
.title_bar h3 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	display: inline-block;
}
.title_bar .morecontent {
	color: inherit;
	text-transform: capitalize;
	float: right;
	cursor: pointer;
}
.checkbox_options_wrap {
	margin: 0 0 0 30px;
}
.checkbox {
	font-size: 18px;
}
.zipsearch {

}
header.main-header {
	margin: 0;
	/*border-bottom: 1px solid #eee;*/
	z-index: 1000;
}
.sorting_form {
	text-align: right;
}
.sorting_form .bootstrap-select.btn-group .btn .caret {
	width: 10px;
	margin-top: -3px;
}
.spacer_mini {
	margin: 0 0 5px 0;
}
.tags_wrap {

}
.tags_wrap .label {
	color: #333;
}
/*gold color #d9a432*/




.banner_area {
	position: relative;
}
.banner_area .mainbanner {
	
}
.banner_area .mainbanner img {
	display: block;
	object-fit: cover;
	width: 100%;
	object-position: 0 50%;
	object-position: center center;
	max-height: 500px;
}
.banner_area .profile_pic {
	border: 3px solid #fff;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	overflow: hidden;
	box-shadow: 2px 3px 5px #777;
	margin: 0 auto 30px;
	display: inline-block;
}
.banner_area .profile_pic img {
	/*position: relative;*/
	object-fit: cover;
	object-position: 50% 50%;
	width: 194px;
	height: 194px;
	border-radius: 50%;	
	display: block;
}
.profile_content_area {

}
.spacer_big {
	margin: 0 0 50px 0;
}
.profile_lead_area {
	margin: 50px 0;
}
.banner_area .profile_action_area {
	text-align: center;
	margin: 0 auto;
	width: 200px;
	position: absolute;
	left: 10%;
	bottom:  -190px;
	height: 300px;
	z-index: 10;
}
.banner_area .profile_action_area .btn {
	width: 100%;
	display: block;
}
.profile_title {
	font-size: 42px;
	text-transform: capitalize;
	color: #323232;
	margin: 0;
	padding: 0;
	font-weight: 700;
	letter-spacing: -.18rem;
}
.profile_title i {
	color: #ef1219;
	font-size: 22px;
	vertical-align: middle;	
}

.banner_area .share_artist_area {
	position: absolute;
	right: 14.5%;
	bottom: -30px; 
}
.share_artist_area {
	font-size: 16px;
}
.share_artist_area ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.share_artist_area ul li {
	margin: 0 0 0 10px;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}
.share_artist_area ul li a {
	color: #333;
	text-decoration: none;
}
.share_artist_area ul li a:hover {
	color: #000;
	text-decoration: none;
}
.share_artist_area ul li i {
	font-size: 22px;
}

.black-text {
	color: #333;
}
.profile_specs_area_lead {
	font-weight: 600;
	font-size: 16px;
	text-transform: capitalize;
	color: #787878;
	margin: 0 0 20px 0;
}
.text-black {
	color: #000;
}
.profile_specs_area_sub {

}
.profile_specs_area_sub_handle {
	margin: 0 20px 0 0;
}
.btn-rounded {
	border-radius: 50px !important;
}
.profile_specs_area_sub_handle .btn-rounded {
	padding: 8px 20px;
	font-weight: 600;
}
ul.ico_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.ico_list li {
	margin: 0 0 15px 0;
	padding: 0;
	list-style-type: none;
	display: block;
	clear: both;
	color: #333;
	font-size: 18px;
	font-weight: 600;
}
ul.ico_list li span {
	float: left;
	width: 45px;
	height: 45px;
}
ul.ico_list li i {
	font-size: 32px;
}
ul.ico_list li small {
	font-size: 12px;
	color: #888;
	display: block;
}
.profile_specs_area_sub .col-sm-6:nth-child(2) ul.ico_list li {
	line-height: 32px;
}
.quick_nav {
	background: #ededed;
	padding: 10px 10px 10px 20px;
	margin: 50px 0;
	color: #999;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 600;
}
.quick_nav span {
	line-height: 2;
}
.quick_nav ul {
	text-align: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.quick_nav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}
.quick_nav ul li a {
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	color: #444;
	padding: 5px 28px;
	background: transparent;
	transition: all .2s ease;
	display: inline-block;
}
.quick_nav ul li a:hover ,
.quick_nav ul li a:focus {
	background: #f8f8f8;
	text-decoration: none;
	color: #333;
}
.jumper-link {
	float: left;
	height: 90px;
	margin: -90px 0 0 0;
}
.jumper-link ,
.jumper-link:hover ,
.jumper-link:focus {
	text-decoration: none;
}

.back-to-top {
    cursor: pointer;
    /*position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;*/
}
.linear_title {
	padding: 0 0 8px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #ddd;
}
.linear_title h1 {
	font-size: 28px;
	color: #444;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-weight: 700;
	letter-spacing: -.08rem;
}
.linear_title .back_to_top {
	float: right;
	text-align: right;
	color: #999;
	font-size: 13px;
	margin: 15px 0 0 0;
}
.content_area {

}
.pagination_right {
	float: right;
	margin: 0;
}
.gallery_box  {
	margin: 0 0 15px 0;
}
.gallery_box figure {
	width: 100%;
	max-width: 100%;
	height: 150px;
}
.gallery_box figure a >  img {
	object-fit: cover;
	width: 100%;
	height: 150px;
}
.rate_box {
	color: #333;
	font-size: 24px;
}
.rate_box strong {
	display: block;
	font-size: 42px;
}
.rate_box small {
	font-size: 18px;
}
.rate_box .grey-text {
	font-size: 20px;
}
.grey-text {
	color: #787878;
}
.average_rating_box {
	display: block;
	margin: 0 0 20px 0;
	border: 1px solid #ddd;
	padding: 10px 20px;
	text-align: right;
	font-size: 16px;
	color: #d9a432;/*gold*/
	text-transform: capitalize;
	width: 300px;
}
.average_rating_box strong {
	color: #333;
	font-weight: 700;
	float: left;
}
.review_box {
	margin: 0 0 50px 0;
}
.review_box figure {
	width: 122px;
	height: 122px;
	display: block;
	position: relative;
	margin: 0 auto 20px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.review_box figure img {
	width: 120px;
	height: 120px;
	display: inline-block;
	border-radius: 50%;
	object-fit: cover;
	object-position: 50% 50%;
}
.review_box figcaption {
	font-size: 16px;
	color: #333;
	font-weight: 600;
	text-transform: capitalize;	
	text-align: center;
}
ul.rating_star {
	margin: 10px 0;
	padding: 0;
	list-style-type: none;
}
ul.rating_star li {
	margin: 0 2px;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}
ul.rating_star li i {
	color: #d9a432;
}
.review_box h3 {
	font-size: 18px;
	font-weight: 500;
	color: #323232;
}
.profile_spacer {
	height: 100px;
}
.spacer_sixty {
	margin: 0 0 60px 0;
}
.venue_box {
	margin: 0 0 15px 0;
}
.venue_box figure {
	height: 100px;
}
.venue_box figure img {
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
	max-width: 100%;
	height: 100px;
}
.venue_box figcaption a {
	color: #333;
	text-transform: capitalize;
	text-decoration: none;
}
.venue_box figcaption a:hover {
	color: #000;
	text-decoration: none;
}

/*edit venue*/
.mainbanner ,
.profile_pic {
	position: relative;
}
.grey-bg {
	background: #ddd;
}
.light-grey-bg {
	background: #f2f2f2;
}
.mainbanner span.grey-bg {
	width: 100%;
	height: 450px;
	display: block;
}
.mainbanner figcaption ,
.profile_pic figcaption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	text-align: center;
	color: #000;
}
.profile_pic span.grey-bg {
	display: block;
	height: 100%;
}
.profile_action_area .btn-default {
	padding: 10px 20px;
}
i.grey {
	color: #ddd;
}
.social_media_account_list {

}
.social_media_account_list figure {
	border: 1px solid #ddd;
	display: inline-block;
	width: 100%;
	height: 120px;
	position: relative;
}
.social_media_account_list figure img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-height: 80px;
	width: auto;
	max-width: 80%;

}
.bg-grey {
	background: #f2f2f2;
}
.padd_twenty {
	padding: 20px;
}
.white_wrap {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: .25rem;
}
.bg_semi_transparent {
	background: rgba(255, 255, 255, 0.93);
}
.white_wrap.bg_semi_transparent {
	background: rgba(255, 255, 255, 0.93);
}

.padd_thrty {
	padding: 30px;
}
.artist_images_gallery_list {
	
}
.artist_images_gallery_list figure {
	background: #f2f2f2;
	display: inline-block;
	width: 100%;
	height: 120px;
	margin: 0 0 15px 0;
	position: relative;
}
.artist_images_gallery_list figure i {
	color: #ddd;
}
.artist_images_gallery_list figure i ,
.artist_images_gallery_list figure img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-height: 100px;
	width: auto;
	max-width: 80%;
}
.artist_images_gallery_list figure span {
	position: absolute;
	top: 12px;
	right: 20px;
	z-index: 10;
	cursor: pointer;
}
.artist_images_gallery_list figure span i {
	color: #999;
}
.image_upload_form {
	clear: both;
}
.image_upload_form input[type=file] {
	float: left;
	width: 88%;
	margin: 0 2% 0 0;
}
.image_upload_form input[type=submit] {
	float: left;
	width: 10%;
}
.button_darkgrey {
	background: #666;
	height: 40px;
	border: none;
	outline: none;
	display: block;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 4px;
}
.image_drag_area {
	display: block;
	margin: 20px 0;
	padding: 30px;
	background: #f2f2f2;	
}
.image_drag_area figure {
	position: relative;
	height: 100px;
	border: 4px dashed #ddd;
}
.image_drag_area figcaption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	width: 20%;
	max-width: 50%;
	text-align: center;
	font-size: 14px;
	color: #555;
	font-weight: 600;
}
.video_company_th {
	width: auto;
	max-width: 80px;
	margin: 0 0 5px 0;
}
.spacer_hundred {
	margin: 0 0 100px 0;
}
.spacer_sev_five {
	margin: 0 0 75px 0;
}
.profile_save_btn {
	display: block;
	margin: 30px 0;
	background: #666;
	border: none;
	outline: none;
	display: inline-block;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	text-transform: capitalize;
	padding: 15px 30px;
	width: 300px;
	transition: all .2s ease;
	text-decoration: none;
	border-radius: 6px;
}
.profile_save_btn:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
.light_title {
	color: #b4b4b4;
}
.profile_progress_area {

}
footer {
	z-index: 12;
}
.title_bold {
	font-weight: 700;
}
.member_box {
	margin: 0 0 30px 0;
}
.member_box figure {
	width: 120px;
	height: 120px;
	margin: 0 20px 0 0;
	padding: 0;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.member_box figure img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	border-radius: 50%;
	object-fit: cover;
	object-position: 50% 50%;
	height: 100%;
}
.member_box figcaption {
	display: table-cell;
	vertical-align: middle;
	height: 120px;
	font-size: 14px;
	color: #333;
	text-transform: capitalize;
	font-weight: 700;
}
.member_box figcaption span {
	color: #999; 
	font-size: 13px;
	font-weight: normal;
}
.padd_sided_ten {
	padding: 0 10px;
}
.padd_sided_twmty {
	padding: 0 20px;
}
.music_slider ,
.flexslider {
	/*overflow: hidden;*/
}
.music_slider .flex-control-nav {
	text-align: right;
	top: -30px;
}
.music_slider .flex-control-paging li a {
	color: transparent;
	text-indent: -1000rem;
}
.videos_list {

}
.videos_list figure {
	margin: 0 0 30px 0;
	height: 150px;
	position: relative;
	overflow:hidden;
}
.videos_list figure img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	object-position: 50% 50%;
}
.videos_list figcaption {
	background: rgba(0, 0, 0, 0.65);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: block;
}
.videos_list figcaption i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50% , -50%);
	z-index: 100;
	font-size: 48px;
	color: #f00;
}
.sorting_area {

}
.sorting_area.sorting_area_right {
	float: right;
}
.sorting_area.sorting_area_right .form-control {
	height: 44px;
}
.message_modal {

}
.message_modal .modal-header ,
.message_modal .modal-footer {
	background: #f2f2f2;
}
.message_modal .modal-header {
	border-radius: 10px 10px 0 0;
}
.message_modal .modal-footer {
	border-radius: 0 0 10px 10px;
}
.message_modal .member_box {
	margin: 0;
}
.message_modal .member_box figure {
	width: 60px;
	height: 60px;
}
.message_modal .member_box figcaption {
	height: 60px;
}
.message_modal textarea {
	height: 150px;
}
.profile_save_btn_small {
	display: block;
	margin: 20px 0;
	background: #666;
	border: none;
	outline: none;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	padding: 15px 25px;
	width: auto;
	transition: all .2s ease;
	text-decoration: none;
	border-radius: 2px;
}
.profile_save_btn_small:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
.message_modal .profile_save_btn_small {
	margin: 20px 0 0 0;
}
.venue_info_box {
	text-align: center;
	background: #eee;
}
.venue_info_box figure {
	position: relative;	
}
.venue_info_box figure i {
	color: #ef1219; /*red*/
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
}
.venue_info_box figcaption {
	background: #f2f2f2;
	padding: 25px;
	text-align: center;
	color: #323232;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	word-break: break-all;
}
.venue_info_box figcaption small {
	font-size: 12px;
	color: #727272;
}
.action_btn_white {
	background: #fff;
	padding: 10px 30px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 600;
	color: #323232;
	transition: all .2s ease;
	box-shadow: 1px 1px 2px #000;
}
.action_btn_white:hover,
.action_btn_white:focus {
	background: #323232;
	color: #fff;
	text-decoration: none;
}
.venue_info_box .action_btn_white {
	margin: 20px 0 0 0;
}
h1{
	font-weight: 700;
	letter-spacing: -.1rem;
}
.marg_thrty_topper {
	margin: 30px 0;
}
.inbox_tabs_wrap {

}
.inbox_tabs_wrap .nav-pills > li > a {
	border-radius: 0;
	border-bottom: 2px solid transparent;
	padding: 10px 20px;
	font-weight: 600;
}
.inbox_tabs_wrap .nav-pills > li.active > a {
	color: #323232;
	background-color: transparent;
	border-bottom: 2px solid #d9a432; 
}
.ArtistTags.pull-left {
	text-align: left;
}
.ArtistTags_wrap ,
.ArtistTags_wrap .ArtistTags {
	text-align: left;
	margin: 10px 0;
}
.member_adding_area {
	margin: 0 0 40px 0;
}
.member_adding_area .thumbside {

}
.member_adding_area .thumbside figure {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 20px;
}
.member_adding_area .thumbside figure img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	object-fit: cover;
	object-position: 50% 50%;
	display: block;
	height: 120px;
}
form.add_new_member {

}
form.add_new_member .profile_save_btn_small {
	margin: 0;
	padding: 10px 30px;
}
/*for table outer border*/
.table.outer-border td, .table.outer-border th {
    border: none;
}

table.table.outer-border {
    border: 1px solid #ddd;
}
.badge.gold-badge {
	background: #d9a432;
	border-radius: 3px;
	text-transform: uppercase;
}
.req_parent_row {
	border: 1px solid #ddd;
	min-height: 100px; 
	height: 100px;
	display: table;
	width: 100%;
	transition: all .2s ease;
}
.req_parent_row:hover {
	background: #f2f2f2;
}
.req_header_row {
	height: 50px;
	background: #eee;
	border: 1px solid #ddd;
	display: table;
	width: 100%;
	font-weight: 600;
}
.req_col_badge , 
.req_col_title , 
.req_col_date , 
.req_col_time , 
.req_col_detail , 
.req_col_decision ,
.req_col_decision_2 , 
.req_col_menudots {
	/*float: left;*/
	font-size: 13px;
	color: #323232;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.req_col_title , 
.req_col_date , 
.req_col_time {
	font-weight: 400;
}
.req_col_badge {
	width: 7%;
} 
.req_col_title {
	width: 15%;
}
.req_col_date {
	width: 15%;
} 
.req_col_time {
	width: 15%;
} 
.req_col_detail {
	width: 13%;
} 
.req_col_decision {
	width: 15%; 
} 
.req_col_decision_2 {
	width: 25%;
}
.req_col_menudots {
	width: 7%;
}

.req_col_title ,
.req_col_detail ,
.req_col_decision ,
.req_col_decision .btn {
	text-transform: capitalize;
}	
.req_col_title  {
	font-weight: 400;
}
.req_col_menudots {
	text-align: center;
}
.req_col_menudots .dropdown i {
	font-size: 24px;
	cursor: pointer;
	color: #d9a432;
	padding: 5px;
}
.req_parent_row_collapse {
	padding: 30px;
	background: #f2f2f2;
}
.req_parent_row_collapse h3 {
	font-size: 20px;
	margin: 0 0 15px 0;
	font-weight: 700;
	text-transform: capitalize;
}
.event_info_card {
	background: #fff;
	border: 1px solid #ddd;
	padding: 20px;	
}
.event_info_card ul {
	margin: 0 0 0 15px;
	padding: 0;	
}
.event_info_card ul li {
	margin: 0 0 8px 0;
	padding: 0;
	list-style-type: disc;
}
.event_info_card ul li.seperator {
	list-style-type: none;
}
.event_info_card ul li.seperator {
	display: none;
}
.req_parent_row_collapse_space {
	height: 20px;
}
.req_parent_row[aria-expanded="true"]{
  background: #f2f2f2;
}
.req_table_wrap.tab-content {
	overflow: visible;
}
.pointer {
	cursor: pointer;
}
.left_card_top_spacer {
	height: 155px;
}
.action_btn_white.req_accepted {
	background: #5cb85c;
	color: #fff;
}
.action_btn_white.req_accepted:hover ,
.action_btn_white.req_accepted:focus {
	background: #448c44;
	color: #fff;
}
.inbox_left_panel {

}
.inbox_left_panel .nav > li > a {
	padding: 10px 22px 10px 15px;
}
.inbox_pagination_wrap {

}
.inbox_pagination_wrap span.info { 
	line-height: 30px;
 }
 /*for inbox*/
.inbox_row {
	border: 1px solid #ddd;
	min-height: 100px;
	display: table;
	width: 100%;
	transition: all .2s ease;
}
.inbox_row:hover {
	background: #f2f2f2;
}
.inbox_row_col_one , 
.inbox_row_col_two , 
.inbox_row_col_three , 
.inbox_row_col_four , 
.inbox_row_col_five , 
.inbox_row_col_six , 
.inbox_row_col_seven {
	font-size: 14px;
	color: #323232;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/*for firefox hack*/

@-moz-document url-prefix() { 
	.inbox_row_col_one , 
	.inbox_row_col_two , 
	.inbox_row_col_three , 
	.inbox_row_col_four , 
	.inbox_row_col_five , 
	.inbox_row_col_six , 
	.inbox_row_col_seven {
		min-height: 100px;
		height: 100px;
	}
}




.inbox_row_col_one {
	width: 10%;
} 
.inbox_row_col_two {
	width: 12%;
	text-align: left;
}
.inbox_row_col_three {
	min-width: 15%;
	text-align: left;
} 
.inbox_row_col_four {
	min-width: 37%;
	text-align: left;
} 
.inbox_row_col_five {
	width: 8%;
} 
.inbox_row_col_six {
	width: 10%;
} 
.inbox_row_col_seven {
	width: 5%;
}
.inbox_row_col_five {
	text-align: left;
}
.inbox_row  + .inbox_row {
	margin: -1px 0 0 0;
}
.single_message_wrap {
	background: #fff;
	border: 1px solid #ddd;
}
.single_message_header {
	border-bottom: 1px dashed #ddd;
	padding: 20px;
}
.single_message_body {
	padding: 30px;
}
.msg_sending_info {
	color: #999;
	font-size: 13px;
}
.msg_sending_info span {
	color: #323232;
	font-weight: 600;
}
.white_box {
	background: #fff;
	border: 1px solid #eee;
}
.rounded {
	border-radius: 10px;
}
.invite_box .member_box {
	margin: 0;
}
.invite_box .member_box figcaption{
	font-size: 17px;
	line-height: 1;
}
.invitation_form_wrap {

}
form.invitation_form {

}
form.invitation_form label {
	font-size: 16px;
	line-height: 35px;
	text-transform: capitalize;
}
.lh_forty {
	line-height: 40px;
}
form.invitation_form textarea {
	height: 180px;
}
hr.light_grey_ruler {
	border-top: 1px solid #eee;
}
.no-marg {
	margin: 0;
}
ul.booking_conf_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
ul.booking_conf_list li {
	display: inline-block;
	margin: 5px 10px;
	padding: 0;
	list-style-type: none;
	font-size: 14px;
	font-weight: 500;
}
ul.booking_conf_list li a {
	text-transform: capitalize;
	text-decoration: none;
	color: #17a2b8;
}
ul.image-gallery {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.image-gallery li {
	margin: 0 0 15px 0;
	padding: 0 15px 0 0;
	list-style-type: none;
	height: 160px;
	position: relative;
}
ul.image-gallery li .img-responsive {
	height: 160px;
    object-fit: cover;
    object-position: center center;
}

/*landing page*/
.landing_header {

}
.landing_header .logo {
	max-width: 300px;
	display: inline-block;
	transition: all .2s ease;
}
.landing_right_area {
	padding: 33px 0;
	transition: all .2s ease;
}
.landing_right_area a {
	font-size: 18px;
}
.hero {
	position: relative;
}
.hero figure.landing_thumb img {
	object-fit: cover;
	object-position: 50% 50%;
	/*height:  calc(100vh - 70px);*/
	height: 100vh;
}
.landing_form{
	margin: 0 auto;
	width: 500px;
	max-width: 100%;
}
.landing_form_submit {

}
.hero .banner_caption_area {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	max-width: 80%;
}
.hero .banner_caption_area h1 {
	text-align: center;
	color: #fff;
	font-size: 4.5rem;
	line-height: 1;
	font-weight: 500;
	margin: 0 0 50px 0;
	text-shadow: 1px 1px 2px #000;
	font-family: 'Roboto', sans-serif;
}


/********************************/
.row.gutter-0 {
  margin-left: 0;
  margin-right: 0;
}
.row.gutter-0 > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.row.gutter-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.row.gutter-10 > [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.row.gutter-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.row.gutter-20 > [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}
/********************************/

.main-header {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}
.main-header.shrink {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}
.main-header.shrink .landing_right_area {
	padding: 15px 0;
}
.navbar.navbar-default {
	padding: 10px 0;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
	background-color: transparent;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}
.main-header.shrink .navbar.navbar-default{
	/*background-color: rgba(0, 0, 0, 0.9);*/
	background-color: #fff;
}
ul.nav.navbar-nav {
	margin-top: 0;
	/*width: 100%;*/
	margin: 0;
}
/*.main-header.shrink .navbar.navbar-default {
	padding: 8px 0;
}*/
.main-header.shrink .navbar-brand img {
	padding: 12px 0;
	width: auto;
	display: inline-block;
}
.main-header .navbar-brand img {
	padding: 12px 0;
	width: auto;
	display: inline-block;
}
.navbar-default {
	border-color: transparent;
}
/*fixing top padding for body for fixed header*/
body {
	padding-top: 70px;
}
.body_has_no_padd ,
.no-body-padd {
	padding-top: 0;
}
.banner_caption_area .venue-link {
	width: 100%;
	text-align: center;
	padding: 100px 0 0 0;
	color: #fff;
	text-decoration: none;
}
.banner_caption_area .venue-link a {
	text-decoration: none;
	color: #fff;
}
form.landing_form .radio_buttons label {
	color: #d9a432;
	font-size: 24px;
}
form.landing_form .radio_buttons input[type=radio] {
	vertical-align: baseline;
}
form.landing_form .form-control {
	height: 45px;
	padding: 8px 15px;
	border-radius: 3px;
}
form.landing_form .landing_form_submit {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	padding: 10px 15px;

}
form.landing_form .input-group-addon {
	background: #fff;
}
form.landing_form #sizing-addon2 i {
	font-size: 26px;
}
form.landing_form i {
	color: #d9a432;
}
.signup_btn_gold {
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	background: #d9a432;
	width: 220px;
	margin: 0 auto;
	border-radius: 3px;
	padding: 12px 30px;
	border: none;
	outline: none;
	transition: all .2s ease-in-out;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	line-height: 1.42857143;
}
.signup_btn_gold:hover {
	background: #ab7b15;
	color: #fff;
	text-decoration: none;
}
form.landing_form .signup_btn_gold {
	/*width: 100%;*/
	width: calc(100% - 20%);
}

.whyshowspoon {
	background: url(../images/record.jpg) no-repeat center center;
	background-size: cover;
	padding: 100px 0;
}
h1.small_border_title {
	color: #000;
	font-size: 40px;
	margin: 0 0 40px 0;
	padding: 0;
	position: relative;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}
h1.small_border_title:after {
	height: 4px;
	background: #000;
	width: 100px;
	position: absolute;
	left: 0;
	bottom: -18px;
	content: "";
}
.why_box {
	display: block;
	width: 80%;
	margin: 0 0 60px 0;
	max-width: 250px;
}
.why_box figure {
	position: relative;
	width: 155px;
	height: 155px;
	display: inline-block;
	margin: 0 0 30px 0;
	background: url(../images/broken_cicle.png) no-repeat center center;
}
.why_box figure img {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 80px;
	max-height: 80px;
}
.why_box figcaption {
	font-size: 24px;
	font-weight: 700;
	text-transform: capitalize;
	color: #000;
}	




.artist_section {
	background: url(../images/audio.jpg) no-repeat center center;
	background-size: cover;
	padding: 100px 0;
}

h1.small_border_title.gold {
	color: #d9a432;
}
h1.small_border_title.gold:after {
	height: 4px;
	background: #000;
	width: 100px;
	position: absolute;
	left: 0;
	bottom: -18px;
	content: "";
}
.work_step_box {
	margin: 0 0 60px 0;
}
.work_step_box figure {
	margin: 0 0 20px 0;
	width: 30px;
	height: 30px;
}
.work_step_box i {
	color: #d9a432;
	font-size: 48px;
}

.work_step_box figcaption {
	font-size: 20px;
	line-height: 1.3;
	color: #000;
	font-weight: 400;
}
.signup_btn_gold.left-aligned {
	display: inline-block;
}

.venue_section {
	background: url(../images/dj.jpg) no-repeat center bottom;
	background-size: cover;
	/*padding: 100px 0;*/
	padding: 100px 0 130px 0; /*as footer is fixed to bottm*/
}

h1.small_border_title.white {
	color: #fff;
}
h1.small_border_title.white:after {
	height: 4px;
	background: #fff;
	width: 100px;
	position: absolute;
	left: 0;
	bottom: -18px;
	content: "";
}
.venue_section .work_step_box figcaption {
	color: #fff;
}
footer.main-footer {
	background: #fff;
	padding: 10px 0;
	color: #000;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #ddd;
	z-index: 9;
} 
footer.main-footer p ,
footer.main-footer ul.legallinks {
	margin: 0; 
}
footer.main-footer .copyright ,
footer.main-footer a {
	color: #000; 
}
.container {
	max-width: 100%; 
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
	color: #000;
}
.main-header.shrink .navbar-default .navbar-nav > li > a {
	/*color: #fff;*/
	color: #000;
}
.main-header.shrink .navbar-default .navbar-nav > .active > a, 
.main-header.shrink .navbar-default .navbar-nav > .active > a:hover, 
.main-header.shrink .navbar-default .navbar-nav > .active > a:focus, 
.main-header.shrink .navbar-default .navbar-nav > li > a:hover, 
.main-header.shrink .navbar-default .navbar-nav > li > a:focus {
	/*color: #fff;*/
}
.filter_sidebar input[type="checkbox"] {
	margin-top:  2px;
}
.navbar-collapse.collapse.in {
	background: #eee; 
}
.main-header.shrink .navbar-collapse.collapse.in {
	background: #eee; 
}
.filter_sidebar .btn-primary {
	display: block;
	width: 100%;
	padding: 10px;
}
/*.filter_sidebar .btn-primary:focus {
	padding: 10px 20px;
}*/
.filter_sidebar.navbar-collapse {
	width: 25%;
}
button.filter_btn {
	padding: 0;
	right: 70px;
}
button.filter_btn i {
	color: #888;
	font-size: 28px;
}
.sidebar_filter_buttons {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	/*bottom: 0;*/
	bottom: 47px; /*as footer is fidex to bottom*/ 
	left: 0;
	background: #fff;
	padding: 10px 0;
	z-index: 12;
}
.rel ,
.filter_sidebar {
	position: relative;
}
.scrollable {

}
ul.gold_dot_list {
	margin: 30px 0 30px 30px;
	padding: 0;
	list-style-type: none;
}
ul.gold_dot_list li {
	margin: 0 0 12px 0;
	padding: 0 0 0 24px;
	list-style-type: none;
	position: relative;
	font-size: 16px;
}
ul.gold_dot_list li:first-letter {
	text-transform: capitalize;
}
ul.gold_dot_list li:before {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: #d9a432;
	position: absolute;
	left: 0;
	top: 50%;
	margin: -6px 0 0 0;
}
.address_box {

}
.map_wrap {

}
.map_wrap img {
	width: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	height: 500px;
}
.contact_half_left {
	width: 50%;
	float: left;
}
.contact_half_right {
	width: 50%;
	float: right;
}
.contact_bg {
	background: url(../images/contact_bg.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 93px);
	display: flex;
	align-items: center;
}
.padd_eighty {
	padding: 80px;
}
.contact_submit_btn {

}
.contact_half_left {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}
.contact_half_left form {
	
}
.contact_half_left form textarea {
	height: 150px;
}
.contact_submit_btn {
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	padding: 8px 20px;
	border: none;
	outline: none;
	border-radius: 4px;
	background: #fff;
}
.login_bg {
	background: url(../images/iStock-first.jpg) no-repeat;	
}
.signup_bg {
	background: url(../images/loginpage.jpg) no-repeat;	
}
.login_bg , 
.signup_bg  {
	background-size: cover;
	background-position: center center;
	height: 100vh;	
	align-items: center;
	display: flex;
	background-attachment: fixed;
}
.about-bg {
	background: url(../images/about-bg.jpg) no-repeat;	
}
.how-it-workd-bg {
	background: url(../images/how-it-works-bg.jpg) no-repeat;	
}
.about-bg ,
.how-it-workd-bg {
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.landing_container {
	width: 1024px;
}
.whyshowspoon .row .col-sm-4:nth-child(2) .why_box {
	margin: 0 0 60px 40px;
}
.whyshowspoon .row .col-sm-4:nth-child(3) .why_box {
	margin: 0 0 60px 0;
	float: right;
}
.main-header.login-page .navbar-default .navbar-nav > li > a {
	color: #323232;
}

.sorting_form .form-group:first-child {
	margin: 0;
}



/*For activation step wizard*/
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index:  0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px !important;
}
.stepwizard .btn-primary,
.stepwizard .btn-primary:hover ,
.stepwizard .btn-primary:focus {
	padding: 6px 0;
}
.stepwizard .btn-primary[disabled]:hover {
	background: #ededed;
}
.stepwizard .btn-primary[disabled]:focus {
	background: #ddd;
}
p.agreement {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	height: 250px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.coffee_cup {
}
.coffee_cup img {
	max-width: 100%;
	width: 150px;
	display: block;
	text-align: center;
	margin: 30px auto 20px;
}
.spacer_top {
	margin: 20px 0 0 0;
}
.stepwizard-step p {
	font-size: 11px;
	text-transform: capitalize;
}
.stepwizard-step .btn-primary {
	color: #fff;
	font-weight: 600;
}
.stepwizard-row .stepwizard-step {
	width: 20%;
}
.setup-content h3 {
	font-weight: 600;
	margin: 40px 0 20px 0;
}
.text-white {
	color: #fff;
}
label {
	cursor: pointer;
}
.main-header {

}
.profile_specs_area_sub_handle.second ul.ico_list li{
	line-height: 40px;
}
a:focus,img:focus{
	outline: none;
}
.main-header.landing-page ul.navbar-nav li a ,
.main-header.landing-page.shrink ul.navbar-nav li a {
	color: #fff;
}

/*form#contact-form {
	width: 500px;
	max-width: 100%;
	margin: 0 auto 100px;
}*/

textarea {
	height: 120px;
}
.input-group-addon.v-top {
	vertical-align: top;
}
.ListView .panel .gimage .center-block {
	object-fit: cover;
	height: 160px;
	object-position: center center;
}
.k-picker-wrap.k-state-default {
	border-color: #ccc!important;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.mr-1 {
	margin-right: 1rem;
}
.navbar-nav > li.favourite a {
	padding: 15px 15px;
}


/*25 Apr 2018*/
.landing_mail_field {

}
.landing_mail_field i{
	font-size: 17px;
}
.landing_pass_field {

}
.mr-2 {
	margin-right: .5rem;
}
.mt-5p {
	margin-top: 5px;
}
.btn-wid-sixty {
	width: 60px;
}
/*.req_badge_wid {
	width: 130px;
}*/



.m-badge.m-badge--wide {
    letter-spacing: .6px;
    padding: 1px 10px;
}
.m-badge.m-badge--success {
    background-color: #34bfa3;
    color: #fff;
    font-size:12px;
}

.m-badge.m-badge--cancelled {
    background-color: #a41111;
    color: #fff;
    font-size:12px;
}

.m-badge.m-badge--pending {
    background-color: #d7a81d;
    color: #fff;
    font-size:12px;
}

.m-badge.m-badge--awaitingpayment {
    background-color: #bf4f34;
    color: #fff;
    font-size:12px;
}
.m-badge {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: #eaeaea;
    color: #444;
    font-size: .8rem;
    line-height: 20px;
    min-height: 20px;
    min-width: 20px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: 0px 5px;
}
.venue_info_box figcaption span.m-badge {
	margin: 10px 0 5px 0;
}
.ArtistTags_wrap .badge {
	font-size: 13px;
	padding: 6px 10px;
}



/*April 27-2018*/
.table-row {
	display: table-row;
}
.clearfix-sm {
	clear: both;
	display: none;
}
.hidden-md-down {
	display: block;
}
.hidden-md-up {
	display: none;
}
/*.req_table_wrap .req_col_decision {
	width: 30%;
}*/
.mb-5p {
	margin-bottom: 5px;
}



/*April 30-2018

	for Edit profile

*/
.edit_profile_tabs ul.nav-tabs {
	display: flex;
	justify-content: center;
	border-bottom: none;
}
.edit_profile_tabs ul.nav-tabs li {
	text-transform: capitalize;
}
.edit_profile_tabs .nav-tabs > li > a ,
.edit_profile_tabs .nav-tabs > li > a:hover ,
.edit_profile_tabs .nav-tabs > li > a:focus {
	border: none;
	border-bottom: 4px solid #eee;
	color: #959595;
	padding: 15px 20px;
}
.edit_profile_tabs .nav-tabs > li.active > a, 
.edit_profile_tabs .nav-tabs > li.active > a:hover, 
.edit_profile_tabs .nav-tabs > li.active > a:focus {
	border: none;
	border-bottom: 4px solid #d9a432;
	color: #333;
	padding: 15px 20px;
}

#members_box .media-left {
	width: 70px;
	height: 70px;	
}
#members_box .media-left img {
	object-fit: cover;
	object-position: center top;
}







































/*RESPONSIVE STYLEING*/

/*for larger screens*/
@media screen and (min-width: 1600px) {


}


@media screen and (max-width: 1199px) {

	.main-header.shrink .navbar-default .navbar-nav > .active > a, 
	.main-header.shrink .navbar-default .navbar-nav > .active > a:hover, 
	.main-header.shrink .navbar-default .navbar-nav > .active > a:focus, 
	.main-header.shrink .navbar-default .navbar-nav > li > a:hover, 
	.main-header.shrink .navbar-default .navbar-nav > li > a:focus {
		color: #333;
	}

	.filter_sidebar.navbar-collapse {
		width: auto;
	}
	.main-header a.nav-btn , 
	.main-header.shrink a.nav-btn {
		margin: 14px 0;
	}
	.main-header.shrink .navbar-default .navbar-nav > li > a {
		color: #333;
	}
	.main-header.shrink .navbar-default .navbar-nav  li.favourite a ,
	.main-header .navbar-default .navbar-nav  li.favourite a {
		color: #fff;
	}	
	.main-header.landing-page ul.navbar-nav li a ,
	.main-header.landing-page.shrink ul.navbar-nav li a {
		color: #000;
	}
	.banner_area .profile_pic {
		width: 150px;
		height: 150px;
	}
	.banner_area .profile_action_area {
		margin: -80px auto 0;
	}
	.sidebar_filter_buttons {
		background: #f8f8f8;
	}
	ul.nav.navbar-nav {
		width: 100%;
	}
	.banner_area .profile_action_area ,
	.banner_area .share_artist_area {
		position: static;
		text-align: center;
		height: auto;
	}
	.banner_area .profile_action_area {
		margin: -100px auto 0;
	}
	.profile_lead_area {
		text-align: center;
	}
	.navbar-nav > li.search { /*hiding top search*/
		display: none!important;
	}
	.ArtistTags_wrap ,
	.ArtistTags_wrap .ArtistTags {
		text-align: center;
	}
	ul.ico_list {
		margin: 0 auto 30px;
		width: 130px;
	}

	.hero .banner_caption_area {
		width: 65%;
	}

	/*for sidebar*/
	#sidebar {
		/*position: absolute;*/
		position: fixed;
		left: -250px;
		top: 68px;
		background: #f8f8f8;
		z-index: 999;
		opacity: 0;
		height: auto!important;
		padding: 20px 15px;
		transition: all .2s ease-in-out;
		box-shadow: 3px 1px 6px #ccc;
	}
	#sidebar.collapse.in {
		opacity: 1;
		left: 0;
		position: fixed;
	}
	.navbar-toggle {
	    margin: 0 10px;
	}
	.navbar.navbar-default, 
	.navbar.navbar-default {
		padding: 0;
	}
	.scrollable {
		overflow-y: auto;
		overflow-x: hidden;
		height: calc(100vh - 155px);
	}
	.sidebar_filter_buttons {
		bottom: 0;
	}
}




@media screen and (max-width: 992px) {
	/*for new menubar*/
	.navbar_new .filter_btn {
		display: block;
	}
	.navbar_new .overlay nav {
	  position: relative;
	  height: 70%;
	  top: 50%;
	  transform: translateY(-50%);
	  text-align: center;
	}
	.navbar_new .overlay nav > ul > li {
		opacity: 0;
		margin: 0;
	}
	.navbar_new .overlay nav > ul {
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	.my_menu nav > ul > li ,
	.navbar_new .overlay nav > ul > li {
	  display: block;
	}
	.navbar_new .overlay nav > ul > li  > a {
		color: #000;
		padding: 2rem 0;
	}
	.button_container {
	  display: block;
	}
	.navbar_new .overlay {
		position: fixed;
		background: #fff;
		top: 0;
		left: 0;
		width: 100%;
		height: 0%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .35s, visibility .35s, height .35s;
		overflow: hidden;
	}

	.clearfix-sm {
		display: block;
	}
	.hidden-md-down {
		display: none;
	}
	.hidden-md-up {
		display: block;
	}

	.req_parent_row {
		display: block;
		height: auto;
		margin-top: 1rem;
	}
	.req_table_wrap .req_col_badge ,
	.req_table_wrap .req_col_title ,
	.req_table_wrap .req_col_date ,
	.req_table_wrap .req_col_time ,
	.req_table_wrap .req_col_detail  {
		padding: .75rem;
		text-align: center;
		display: block;
		position: relative;
		transition: all .2s ease;
	} 
	,
	.req_table_wrap .req_col_decision ,
	.req_table_wrap .req_col_decision_2 {
		width: 50%;	
	}
	.req_table_wrap .req_col_decision {
		border-right: 1px solid #ddd;
		float: left;
	}
	.req_table_wrap .req_col_decision_2 {
		float: right;
	}
	.req_table_wrap .req_col_badge  {
		width: 48%;
		float: left;
		text-align: right;
	}
	.req_table_wrap .req_col_badge img {
		margin-left: auto !important;
	}
	.req_table_wrap .req_col_title {
		width: 50%;
		float: right;
		text-align: left;
		height: 55px;
		display: flex;
		align-items: center;
	}
	.req_table_wrap .req_col_date {
		/*width: calc(50% - 1px);*/
		width: 50%;
		float: left;
		border-right: 1px solid #ddd;
	}
	.req_table_wrap .req_col_time {
		width: 50%;
		float: right;
	}
	.req_table_wrap .req_col_date ,
	.req_table_wrap .req_col_time {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	.req_table_wrap .req_col_detail {
		width: 100%;
	}
	.req_table_wrap .req_col_decision ,
	.req_table_wrap .req_col_decision_2 {
		width: 50%;
		padding: .75rem;
	}
	.req_table_wrap .req_col_date:before ,
	.req_table_wrap .req_col_time:before {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 5px;
		display: inline-block;
		background: #ddd;
		color: #666;
		font-size: 10px;
		text-transform: capitalize;
		font-weight: 400;
	}
	.req_table_wrap .req_col_date:before {
		content: "Start Date";
	}
	.req_table_wrap .req_col_time:before {
		content: "End Date";
	}
	.req_table_wrap .req_col_detail {
		border-top: 1px solid #ddd;
	}




	.quick_nav ul li a {
		padding: 5px 12px;
		font-size: 15px;
	}
	.left_card_top_spacer {
		height: 50px;
	}
	form.landing_form .radio_buttons label {
		font-size: 22px;
	}
	.hero .banner_caption_area h1 {
		font-size: 4.2rem
	}
	.whyshowspoon .row .col-sm-4:nth-child(2) .why_box ,
	.whyshowspoon .row .col-sm-4:nth-child(3) .why_box {
		margin: 0 0 60px 0;
		float: none;
	}
	.stepwizard {
		margin: 0 auto;
	}
}




@media screen and (max-width: 768px) {
	.work_step_box figure {
		margin: 0 auto 20px;
		text-align: center;
	}
	.scrollable {
		height: calc(100vh - 180px);
	}
	.profile_specs_area_sub_handle {
		margin: 0;
	}
	.image_drag_area figcaption {
		width: 50%;
	}
	.quick_nav span.pull-left {
		float: none!important;
		display: block;
		text-align: center;
	}
	.quick_nav ul {
		text-align: center;
	}
	.quick_nav ul li {
		display: block;
	}
	.average_rating_box,
	.sorting_area.sorting_area_right {
		float: none;
		display: block;
		width: 100%;
		margin: 0 0 20px 0;
	}
	.venue_box figure ,
	.venue_box figure img {
		height: 200px;
	}

	.hero .banner_caption_area h1 {
		font-size: 3.5rem;
	}
	form.landing_form {
		width: 360px;
	}
	form.landing_form .signup_btn_gold {
		width: 100%;
	}
	.whyshowspoon ,
	.artist_section ,
	.venue_section {
		text-align: center;
	}
	h1.small_border_title:after ,
	h1.small_border_title.gold:after ,
	h1.small_border_title.white:after {
		margin: 0 0 0 -50px;
		left: 50%;
	}
	form.landing_form .radio_buttons label {
		font-size: 18px;
	}
	.why_box {
		margin: 0 auto 60px;
	}
	.whyshowspoon ,
	.artist_section ,
	.venue_section {
		padding: 100px 0;
	}
	.contact_half_left ,
	.contact_half_right {
		float: none;
		width: 100%;
	}
	.contact_half_left ,
	.map_wrap img {
		height: auto;
	}
	.hero .banner_caption_area {
		width: 75%;
	}
	h1.small_border_title {
		font-size: 36px;
	}
	form.landing_form .form-control {
		height: auto;
	}
	form.landing_form #sizing-addon2 i {
		font-size: 20px;
	}	
	.whyshowspoon .row .col-sm-4:nth-child(2) .why_box ,
	.whyshowspoon .row .col-sm-4:nth-child(3) .why_box {
		margin: 0 auto 60px ;
	}
	/*.login_bg {
		height: auto;
	}*/
	.loginbox {
		height: 75vh;
	}
	.sorting_form .bootstrap-select {
		width: 100% !important;
	}
	.sorting_form {
		text-align: left;
		margin: 20px 0 0 0;
	}
	.stepwizard {
		width: calc(100% - 30px);
	}
}




@media screen and (max-width: 640px) { 	
	.linear_title h1 {
		font-size: 24px;
	}
	form.landing_form .radio_buttons label {
		font-size: 14px;
		font-weight: 700;
	} 
	.hero .banner_caption_area {
		width: 80%;
	}
	.landing_form {
		width: 100%;
	}
	.hero .banner_caption_area h1 {
		font-size: 3.2rem;
	}
	.contact_half_left.padd_eighty {
		padding: 30px;
	}

	.req_table_wrap .req_col_date, 
	.req_table_wrap .req_col_time {
		padding-top: 2rem;
	}

	.edit_profile_tabs .nav-tabs > li > a, 
	.edit_profile_tabs .nav-tabs > li > a:hover, 
	.edit_profile_tabs .nav-tabs > li > a:focus ,
	.edit_profile_tabs .nav-tabs > li.active > a, 
	.edit_profile_tabs .nav-tabs > li.active > a:hover, 
	.edit_profile_tabs .nav-tabs > li.active > a:focus {
		font-size: 11px;
		padding: 10px;
		height: 50px; /*for getting them equal height*/
		display: flex;
		align-items: center;
	}

}




@media screen and (max-width: 480px) { 
	.req_table_wrap .req_col_decision ,
	.req_table_wrap .req_col_decision_2 {
		width: 100%;
	}

	.hero .banner_caption_area h1 {
		font-size: 2.5rem;
		margin: 0 0 30px 0;
	}
	h1.small_border_title {
		font-size: 26px;
	}
	.work_step_box figcaption {
		font-size: 18px;
	}
	.why_box figcaption {
		font-size: 20px;
	}
	.navbar-brand {
		width: auto;
	}
	.venue_box figure, .venue_box figure img ,
	ul.image-gallery li ,
	ul.image-gallery li .img-responsive{
		height: 120px;
	}
	#myNavbar .float-center .nav li a{
		font-size: 1.5rem;
		padding-left:5px;
		padding-right:5px;
	}

}




@media screen and (max-height:  639px) { 
	
	.login_bg ,
	.signup_bg {
		/*height: 100%;*/
		padding: 100px 0;
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
	}
	/*.loginbox ,
	.signupbox {
		height: auto;
	}*/
	.contact_bg {
		height: 100%;
		display: block;
	}


}


@media screen and (max-height:  480px) {  
	.hero .banner_caption_area {
		max-height: 65%;
		overflow: hidden;
		overflow-y: auto;

	}
}
